{% extends "base.html" %}
{% block title %}Edit {{ product.name }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Edit Product: {{ product.name }}</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control") }}
                    </div>
                    <div class="mb-3">
                    {{ form.price.label(class="form-label") }} (FCFA)
                        {{ form.price(class="form-control", step="100", value=product.price) }}

                    </div>
                    <div class="mb-3">
                        {{ form.stock.label(class="form-label") }}
                        {{ form.stock(class="form-control", value=product.stock) }}
                    </div>
                    {{ form.submit(class="btn btn-warning") }}
                    <a href="{{ url_for('store_detail', store_id=product.store_id) }}" class="btn btn-secondary ms-2">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

